@font-face {
  font-family: "iconfont"; /* Project id 4408928 */
  src: url('//at.alicdn.com/t/c/font_4408928_8jma4bu5pto.woff2?t=1705564824517') format('woff2'),
       url('//at.alicdn.com/t/c/font_4408928_8jma4bu5pto.woff?t=1705564824517') format('woff'),
       url('//at.alicdn.com/t/c/font_4408928_8jma4bu5pto.ttf?t=1705564824517') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-PNGtubiao:before {
  content: "\e641";
}

.icon-TXTtubiao:before {
  content: "\e63e";
}

.icon-fuwenben:before {
  content: "\e787";
}

.icon-MPtubiao:before {
  content: "\e63f";
}

.icon-PDFtubiao:before {
  content: "\e640";
}

.icon-JPGtubiao:before {
  content: "\e60c";
}

.icon-word1:before {
  content: "\e605";
}

.icon-uniEAD1:before {
  content: "\e77d";
}
